<!-- Footer -->
<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <p class="mb-0">{{navigation.footer.copyright}}</p>
      </div>
      <div class="col-md-6">
        <ul class="footer-links">
          {{#each navigation.footer.links}}
          <li><a href="{{url}}">{{text}}</a></li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</footer>
